<!DOCTYPE html>
<html>
<head><title>{{ case.category.name }} — Fill Requirements</title></head>
<body>
  <h1>{{ case.category.name }}</h1>
  <p>Status: {{ case.status }}</p>

  {% if messages %} <!-- its for message after save data -->
    {% for message in messages %}
      <p style="color: green;">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Answers</button>
  </form>

  <a href="{% url 'dashboard' %}">Back to Dashboard</a>
</body>
</html>